@import 'mixins.scss';


.card-list {
    width: 100%;
    @include display-flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    @include screen-ipad {
        display: block;

        .card {
            display: block;
            width: 100%;
            margin-bottom: 1rem;
        }
    }
}
