@import 'mixins.scss';


.post-list {
    .post-list-post {
        @include font-default;
        width: 80%;
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;
        @include shadow-2;
        box-sizing: border-box;
        padding: 1rem;

        .post-list-post-head {
            padding-bottom: 1rem;
            border-bottom-style: solid;
            border-bottom-width: 1px;
            border-bottom-color: black;

            h2 {
                text-transform: capitalize;
            }

            i {
                margin-bottom: 1rem;
            }

            img {
                max-width: 200px;
            }
        }

        .post-list-post-body {
            padding-top: 1rem;

            p {
                max-width: 80%;
                overflow: scroll;
            }

            .btn {
                margin-top: 1rem;
                display: block;
            }
        }
    }
}
