{% extends 'layout.html' %}


{% block body %}
    <div class='site-section'>
        <div class='site-content'>
            <div class='view view-posts'>
                <div class='post-list push-down'>
                    {% for post in PostFacade.get_all(query={'kind': 'blogpost'}) %}
                        <div class='post-list-post'>
                            <div class='post-list-post-head'>
                                <h2>{{ post.name }}</h2>
                                <i style='display: block;'>{{ post.created_at }}</i>
                                {% if post.assets %}
                                    <img src='/uploads/{{ post.assets[0].filename }}'/>
                                {% endif %}
                            </div>
                            <div class='post-list-post-body'>
                                <p>{{ post.content }}</p>
                                <a class='btn btn-primary' href='/post/{{ post.id }}'>Read More</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
