{% extends 'layout.html' %}


{% block body %}
    <div class='view view-startpage'>
        <div class='hero' style='background-image: url("/theme/static/image/banner.jpg");'>
            <div class='overlay'>
                <h1>Sebastian Karsson</h1>
                <p>Developer, engineer</p>
                <ul class='link-list'>
                    <li><a href='https://github.com/sebbekarlsson'><img src='/theme/static/image/github.png'/></a></li>
                    <li><a href='https://www.linkedin.com/in/sebastian-karlsson-328068105/'><object data='/theme/static/image/linkedin.svg'></object></a></li>
                </ul>
            </div>
        </div>
        <div class='site-section'>
            <div class='site-content'>
                <div class='card-list'>
                    <div class='card'>
                        <div class='card-head'>
                            <h3>Where I'm from</h3>
                        </div>
                        <div class='card-content'>
                            <p>
                            I was born in Sweden and spend most of my time in
                            Gothenburg.
                            </p>
                        </div>
                    </div>
                    <div class='card'>
                        <div class='card-head'>
                            <h3>What I do</h3>
                        </div>
                        <div class='card-content'>
                            <p>
                            I make websites, games and I think. I think a lot.
                            </p>
                        </div>
                    </div>
                    <div class='card'>
                        <div class='card-head'>
                            <h3>Other information</h3>
                        </div>
                        <div class='card-content'>
                            <p>
                            I am a guy born 1997, I like programming and making
                            music.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
